[2013-02-07 18:02] pixelzoom opened #1 "test ticket for issue numbering"
Is issue numbering specific to project or repo?

[2013-02-07 18:04] #1 closed, assigned to pixelzoom

[2013-03-18 15:56] pixelzoom opened #2 "getQueryParameter(key)"
phetcommon/util/locale-query.js currently reads the locale from a query parameter and assigns it to window.phetcommon.locale.  A more general solution would be to provide window.phetcommon.getQueryParameter(key), for retrieving arbitrary query parameter values. window.phetcommon.locale and (perhaps) window.phetcommon.dev could be provided as convenience defaults.   Also rename locale-query.js to q

[2013-03-26 08:06] jonathanolson opened #3 "Inheritance.inheritPrototype changes supertype constructor"
[code]

Scenery has essentially been using a different type of inheritance, which I've now extracted into phet-core at https://github.com/phetsims/phet-core/blob/master/js/inherit.js, which would be good to look into for disadvantages.

[2013-04-04 15:29] samreid opened #4 "ImagesLoader fails on IE9"
When using ImagesLoader, ie9 fails with images not found.  I'm not sure why, but the selector

[code]

is coming up empty.  This only happens on IE9. IE10 and other browsers handle this selector fine.

[2013-04-04 15:40] samreid opened #5 "Check to make sure image exists in ImagesLoader"
We are using a thin wrapper around the jquery images loaded plugin, which provides the following for getImage (see #4):

[code]

It seems like we should make sure that this value exists before returning it from the selector.  I would recommend something like:

[code]

Assigning to @pixelzoom since he is the original author of ImagesLoader.

[2013-04-04 22:39] #4 closed, assigned to jbphet

[2013-04-16 20:56] #5 closed, assigned to pixelzoom

[2013-05-31 05:22] samreid opened #6 "Improve toString for Property"

[2013-06-05 04:55] pixelzoom opened #7 "use "point" instead of "position" in ModelViewTransform2"
I propose that we rename ModelViewTransform2._Position methods to  ModelViewTransform2._Point.  In other repos, we have (scenery) Event.pointer.point, (dot) Bounds2.containsPoint, etc. and I'm constantly getting tripped up by MVT's "position" terminology.

One of the more confusing uses cases is doing something like node.globalToLocalPoint and mvt.modelToViewPosition in the same input listener.

N

[2013-06-21 05:12] samreid opened #8 "Remove ImagesLoader.js"
We have decided to go with PxLoader, PxImageLoader and Joist/SimLauncher so ImagesLoader.js should be removed and any code using it should be switched.

[2013-06-25 19:09] #8 closed, assigned to samreid

[2013-06-25 19:11] #6 closed, assigned to samreid

[2013-07-09 16:18] #3 closed, assigned to nobody

[2013-07-11 16:10] samreid opened #9 "css/phetcommon.css should be removed"
css/phetcommon.css should be removed because it is no longer necessary.  It was created for styling the prototype dialog.  However, the prototype dialog is gone and this file should be gone too.

[2013-07-11 20:45] #9 closed, assigned to nobody

[2013-08-22 16:14] pixelzoom opened #10 "ModelViewTransform2 doesn't support different y-axis scales"
Different y-axis scales are needed to support inversion of the y-axis.  This was a feature of the Java version, but it looks like when that was ported, someone decided that wasn't needed (probably because the Java implementation relied on polymorphism.)

I need this immediately in graphing-lines. How should we add it?

[2013-08-22 16:17] #10 closed, assigned to nobody

[2013-08-27 17:44] #7 closed, assigned to nobody

[2013-08-28 22:13] #2 closed, assigned to nobody

[2013-09-10 03:53] pixelzoom opened #11 "implement DecimalFormat"
... or something similar. It doesn't need to be as full-featured as the Java version, just something to specify how many decimal places. Also might be nice if it transparently handled localization of decimal numbers, but that would be a bonus.

Found this implementation: https://gist.github.com/oskansavli/822382
...but there is no license info. Here he describes it as "a gift":
http://gergerconsul

[2013-09-17 05:59] samreid opened #12 "Speed up ModelViewTransform2.modelToViewX/Y"
I currently have ModelViewTransform2.modelToViewX/Y in an inner loop in Energy Skate Park: Basics (when dragging the track).  I have plans to optimize this a different way in the future, but it seems like there is a straightforward way to optimize those functions.

They are currently written as:

[code]

But I think this is equivalent (with many fewer allocations):

[code]

The former is more read

[2013-10-02 03:59] samreid opened #13 "Pre-populate the query parameters map so that multiple subsequent look-ups are fast"
Pre-populate the query parameters map so that multiple subsequent look-ups are fast

[2013-10-02 04:14] #13 closed, assigned to nobody

[2013-12-18 18:41] samreid opened #14 "Bucket options awkward"
In Bucket.js, options are required: if you don't pass options then you get runtime exception from this line:

[code]

Also, the way options.width and height are converted to size field is awkward:

[code]

Why not just provide a default size?

[2014-06-02 14:22] pixelzoom opened #15 "add functions to ModelViewTransform that take (x,y) instead of Vector2"
When converting points between model-view coordinate frames, I often have to allocate a Vector2 in order to use ModelViewTransform's modelToViewPostion and (less frequently) viewToModelPosition methods.  Since this can often occur in critical code (e.g., drag handlers) it would be nice to avoid this allocation.

So I'd like to add:

[code]

I'd also like to add viewToModelXY, like this:

[code]

B

[2014-06-05 19:16] pixelzoom opened #16 "add support for locale interrogation"
We'd like to know:
• language code
• country code
• direction (LTR vs RTL)

The direction is needed to support locale-specific layout.

[2014-06-06 00:37] pixelzoom opened #17 "note assumption in implementation of ModelViewTransform2"
ModelViewTransform2 has functions that only work correctly if the transform is "aligned" (as @jonathanolson described it, meaning rotation is 0 or Math.PI, and there is no shear). If this isn't the case, then these are not equivalent:

node.translation = new Vector( mvt.modelToViewX( x ), mvt.modelToViewY( y ) );
node.translation = mvt.modelToViewPosition( new Vector( x, y ) );

This assumption sh

[2014-06-06 00:51] #15 closed, assigned to jonathanolson

[2014-06-06 00:51] #17 closed, assigned to nobody

[2014-07-14 16:16] pixelzoom opened #18 "redesign the query parameter API"
The current query-parameter API has some problems:

1. Encourages scattering of window.phetcommon.getQueryParameter throughout code, making it difficult to determine what parameters are supported.
2. Doesn't provide a mechanism for specifying default values.
3. Can't distinguish whether a query parameter isn't present or doesn't have a value, undefined is returned in both cases.

Before redesignin

[2014-08-12 18:41] jbphet opened #19 "Need a common "Fraction" class"
I just copied Fraction.js from Graphing Lines into Area Builder and made some mods.  I noticed there is also a version in Fraction Matcher.  All are pretty simple, and we should make a common version and put it here.

[2014-11-19 16:45] samreid opened #20 "Rename query parameter "screens" to "screen""
I think it would be a little nicer to rename the query parameter "screens" to "screen".  It is often used to select a single screen, and it is odd to say ?screens=2

But it is a public-facing query parameter, so I wanted to hear from other PhET developers before making this change.

[2014-11-19 17:11] #20 closed, assigned to samreid

[2014-11-27 01:11] samreid opened #21 "Add more documentation about how to use query parameters"
@ariel-phet asked me to Add more documentation about how to use query parameters

[2014-12-01 18:19] #21 closed, assigned to ariel-phet

[2015-01-05 19:10] pixelzoom opened #22 "specify 'color-blind red'"
The color-blind friendly red that we used in Java/Flash sims is 'rgb( 255, 85, 0 )'. Probably not appropriate to put this in scenery.Color, but it would be handy to have it encapsulated somewhere.

[2015-02-03 15:04] samreid opened #23 "Combine all "check-***.js files?"
We have several (3?) check-***.js files.  Should they be combined into a single "init" script?

[2015-02-03 15:05] samreid commented on #23
This would have made adding check-arch.js easier.

[2015-02-03 21:08] samreid commented on #23
At today's meeting we decided this is a good plan.  Perhaps if someone's time is freed up, or the next time we need to visit all sim files.

[2015-02-03 21:23] pixelzoom commented on #23
...perhaps in a file named check-namespaces.js.

[2015-02-03 21:26] samreid commented on #23
I'm not sure everything there is a "namespace"--perhaps it should be check-globals.js or initializeGlobals.js

[2015-02-03 21:37] pixelzoom commented on #23
Might be nice to put this in there:

[2015-02-03 22:07] samreid commented on #23
Maybe even something like:
[code]

Thoughts @pixelzoom ?

[2015-02-03 22:34] pixelzoom commented on #23
That looks OK to me.

[2015-02-04 04:30] samreid commented on #23
Upon reflection, I prefer "initializeGlobals.js".  OK @jbphet @jonathanolson @pixelzoom ?

[2015-02-04 16:23] jbphet commented on #23
Sounds good to me.

[2015-02-04 17:15] pixelzoom commented on #23
`initializeGlobals.js` sounds good to me too.

Since we decided to do this "if someone's time is freed up, or the next time we need to visit all sim files", I'm going to unassign this issue. Feel free to self-assign.

[2015-02-04 17:16] pixelzoom commented on #23
Oh... I guess @samreid wants @jonathanolson to comment, so I'll assign to him.

[2015-02-05 01:53] jonathanolson commented on #23
Sounds good to me. Also, since we've been hyphenating phetcommon (preload) names, would it be initialize-globals.js? (I don't have a strong preference except for some consistency).

[2015-02-05 19:48] pixelzoom opened #24 "deprecate phetcommon"
Discussed at 2/5/15 developer meeting. Make this repo go away. Move preload scripts to chipper. Move other stuff to where it makes sense.

[2015-02-06 02:43] samreid commented on #23
initialize-globals.js sound good to me (though if we go to a single preload file, then convention won't matter at all).  We are rolling query-parameters into this since it is global, right?

[2015-02-06 14:38] samreid commented on #23
Just want to double check with @pixelzoom regarding query-parameters question above before starting work on this.

[2015-02-06 17:48] pixelzoom commented on #23
@samreid asked:

That sounds right.  Someone (@jonathanolson?) suggested that initialize-globals.js should live in chipper. If that's the case, you'll need to change `phet.phetcommon.getQueryParameter` to `phet.chipper.getQueryParameter` across all repos.`

[2015-02-11 03:56] samreid commented on #23
I'm presuming assert.js *won't* get rolled into this because we want to keep it separate.  Right @jonathanolson @pixelzoom ?

[2015-02-11 04:47] samreid commented on #23
Muchas commits forthcoming....

[2015-02-11 04:51] samreid commented on #23
While I was working on this, I noticed some odd (broken?) paths to assert files in the molecule-shapes playground files.  @jonathanolson do you want to take a look?

[2015-02-11 05:11] samreid commented on #23
In the above commits, I moved the phetcommon/check-**.js files and query-parameters.js to chipper.  I tested
* http://localhost:8080/reactants-products-and-leftovers/reactants-products-and-leftovers_en.html?ea
* rpal> grunt
* http://localhost:8080/reactants-products-and-leftovers/build/reactants-products-and-leftovers_en.html?ea
and did not see any suspicious behavior.

I tried launching:
http://l

[2015-02-11 05:12] samreid commented on #23
This was a very large change and difficult to test all of the parts that may have broken because of this.  I recommend all developers @pixelzoom @jonathanolson @jbphet @aaronsamuel137 @phetsims/bereaphysics test their current projects and make sure everything is working, and that one of the above do a review of my work.

[2015-02-27 00:38] pixelzoom commented on #22
Note that there's also a PhetColorScheme.java that has not been ported to HTML5.  See https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fcommon%2Fphetcommon%2Fsrc%2Fedu%2Fcolorado%2Fphet%2Fcommon%2Fphetcommon%2Fview%2FPhetColorScheme.java&commit=74321

It may or may not need revising. But the point is that all sims would use consistent colors for

[2015-02-27 00:39] pixelzoom commented on #22
Perhaps we should port PhetColorScheme to scenery-phet, and start using it?

[2015-03-06 17:35] pixelzoom commented on #22
Moved this issue to https://github.com/phetsims/scenery-phet/issues/140.

[2015-03-06 17:35] #22 closed

[2015-03-11 04:32] samreid commented on #23
Anybody want to review this?  Math.random() suggested I assign it to @aaronsamuel137.

[2015-03-11 15:20] aaronsamuel137 commented on #23
Well if Math.random() suggested me I don't think I can refuse to review this :)

I've just taken a glance around and everything looks good to me. I think it is safe to close this.

[2015-03-11 15:20] #23 closed

[2015-03-24 21:06] pixelzoom commented on #18
Query parameter API has been working out fine, so closing this issue.

Resolution to the "problems" identified above:

By consensus, we're still going to do this. But now it's `phet.chipper.getQueryParameter`, as defined in initialize-globals.js.

Default values are the responsibility of the client, using this pattern:

[code]

Hasn't been a problem in practice.

[2015-03-24 21:06] #18 closed

[2015-03-24 21:12] pixelzoom commented on #11
This was implemented long ago in dot.Util.toFixed and toFixedNumber. Closing.

[2015-03-24 21:12] #11 closed

[2015-03-24 21:19] #14 closed

[2015-03-24 21:21] pixelzoom commented on #14
Default value for position option was clearly brain damaged, so changed to:

`position: Vector2.ZERO,`

options.width and options.height were unused by clients of Bucket or its subtype SphereBucket, so changed to:

`size: new Dimension2( 200,  50 ),`

[2015-03-24 21:30] pixelzoom commented on #19
gcd was moved to dot.Util awhile ago (unfortunately the commit was not tagged here.)

Looks like the only thing left to do is to remove Fraction.fraction and its 206 usages.

[2015-03-24 21:40] pixelzoom commented on #19
All work completed, closing. Feel free to review, if anyone is so inclined.

[2015-03-24 21:40] #19 closed

[2015-03-24 21:53] pixelzoom commented on #12
Looks like we're still discussing optimization of `modelToViewDeltaX, modelToViewDeltaY, viewToModelDeltaX, viewToModelDeltaY`.  Looking into the implementation of these, the only thing we'll save is a function call.  Do we think that's significant for animation loop or dragging? We would be losing the argument validation currently provided by the Transform3 functions.

If so... The implementation

[2015-03-24 21:55] samreid commented on #12
Isn't the getInverse in viewToModelDelta expensive?  I suspect it is.

[2015-03-24 21:58] pixelzoom commented on #12
@jonathanolson changed the implementation of viewToModelX and viewToModelX in effdd0c, and he used `getInverse`, so I was mimicking that pattern. Perhaps he changed for a different reason, and wasn't addressing this issue?

[2015-03-24 22:01] pixelzoom commented on #12
Seems like calling `getInverse` twice in viewToModelX and viewToModelY is wasteful, and should be changed.  But in general, I don't see a more efficient option to calling getInverse.

[2015-03-24 22:03] samreid commented on #12
We don't need to invert the entire matrix in order to do a single computation with its inverse.  We just need the power of maths.

[2015-03-24 22:06] samreid commented on #12
It looks like @jonathanolson optimized the transform calls in dot https://github.com/phetsims/dot/commit/340626a2e390fe3652ce06a73e6610a7763726fa on Sept 18 (2 days after this issue was born).

[2015-03-24 22:07] pixelzoom commented on #12
Looking into the implementation of getInverse, it incurs a cost only if the inverse is invalid. So 2 calls to getInverse in the same function is currently no different than 1 call (except for the cost of the function call itself).  But that relies on knowledge of the implementation, so I still changed viewToModelX and viewToModelY to call getInverse once each.

[2015-03-24 22:08] pixelzoom commented on #12
So what else should we do here?...

[2015-03-24 22:10] samreid commented on #12
In my opinion, work on issues like this one should be deferred until if/when we have an application where this issue demonstrably a performance bottleneck.  My recommendation would be to close it.  We can reopen it if it ever appears in a profiler.

[2015-03-24 22:10] pixelzoom commented on #12
Closing.

[2015-03-24 22:10] #12 closed

[2015-03-24 22:16] pixelzoom commented on #24
Preload scripts were moved to chipper.initialize-globals.js.  There are 7 .js files that need to find a new home:
![screenshot_490](https://cloud.githubusercontent.com/assets/3046552/6814078/2744e550-d241-11e4-956e-7bc8043685dd.png)

[2015-03-24 22:32] pixelzoom commented on #24
I don't see PerformanceMonitor used anywhere, can it be deleted?

[2015-03-24 23:17] samreid commented on #24
I have been considering using @mrdoob stats like that but no plans to do so at the moment.  I think it is good to delete for now and we can revisit if/when we want it in the future.

[2015-05-22 19:44] pixelzoom commented on #16
Related to https://github.com/phetsims/scenery/issues/429 and https://github.com/phetsims/joist/issues/152, so assigning to @jonathanolson.

[2015-05-22 19:47] pixelzoom commented on #16
Related to translation, so labeling with "Summer 2015 redeploy".

[2015-05-22 19:52] jonathanolson commented on #16
As noted in last developer meeting, the tentative plan is to not have direction known. So I presume this issue is about parsing phet.joist.sim.locale into the language and optional country code?

[2015-05-27 04:33] samreid commented on #16
I missed this meeting and didn't hear any context about this decision.  Does this mean we are deciding not to ever customize the layout for RTL vs LTR languages?

[2015-05-27 05:40] jonathanolson commented on #16
It's more of a "we'll add global direction information if/when do the first custom RTL layout", as it was noted as low priority.

[2015-08-31 19:22] pixelzoom opened #25 "add visibility annotations"
Add a @public, @protected or @private annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-03 16:45] jonathanolson opened #26 "Add Google Analytics tracker for phet-io"
Requested by KP in status meeting.

[2015-09-03 18:59] jonathanolson commented on #26
phet-io should also not be included in third-party tracker.

[2015-09-10 19:32] jonathanolson commented on #26
Added the tracker, will now be doing testing (with concentration) to verify with testing.

[2015-09-10 20:49] jonathanolson commented on #26
Verified that it's properly tracking, closing.

[2015-09-10 20:49] #26 closed

[2015-10-30 20:02] pixelzoom commented on #25
@jbphet The remaining files requiring annotations are Bucket.js, Fraction.js and SphereBucket.js, all of which I believe were created by you. Would you mind taking care of those?

[2015-11-10 21:26] samreid commented on #25
Earlier we assigned this issue to me.  I'll take a look at those files and defer to @jbphet if I can't infer.

[2015-11-10 21:30] samreid opened #27 "Default bucket caption should be '' or null"
The default bucket caption is currently `'Set a caption!'`, it seems like `''` or `null` would probably be more suitable.  Discovered during #25

[2015-11-10 21:36] samreid commented on #25
Well, I did Bucket.js, but am going to recommend that @jbphet do SphereBucket.

[2015-11-10 21:38] samreid commented on #25
Fraction also complete.  @jbphet can you look at SphereBucket.js?

[2015-11-13 20:02] jonathanolson opened #28 "Update Hewlett Google Analytics tracker"
See https://github.com/phetsims/yotta/issues/17

We'll need to update the google-analytics.js file, and some combination of the following for all sims:
1. Redeploy off master
2. Maintenance release phetcommon with new GA code.
3. Manually patch the public sim files.

This is needed so that all of the public-facing sims on phet.colorado.edu have the tracking code updated.

[2015-11-13 20:05] jonathanolson commented on #28
Tagged to discuss the plan for this.

[2015-11-13 20:07] jonathanolson commented on #28
Seems like manual patching is insufficient, as rosetta/build-server-built translations would not include the fix.

[2015-11-16 04:22] pixelzoom opened #29 "add namespace"
See https://github.com/phetsims/tasks/issues/378

[2015-11-16 04:57] #29 closed

[2015-11-18 00:54] jbphet commented on #25
Okay, I did SphereBucket and also cleaned it up quite a bit to look more like our current coding style and standards.  I believe our work here is done.  Closing.

[2015-11-18 00:54] #25 closed

[2015-12-03 18:46] jonathanolson commented on #28
Closing for now, will handle redeployment (later as necessary) in https://github.com/phetsims/yotta/issues/17

[2015-12-03 18:46] #28 closed

[2016-01-16 15:59] samreid opened #30 "toCamelCase is duplicated"
PhET implements toCamelCase in the following locations:

chipper/eslint/rules/string-require-statement-match.js
chipper/js/common/ChipperStringUtils.js
phetcommon/js/util/StringUtils.js
together/js/SimWrapperUtils.js

Are all of these necessary?  Can some of them be deleted?

[2016-02-05 19:27] jonathanolson opened #31 "branch: hewlett-*"
Tracking branches for https://github.com/phetsims/yotta/issues/17 and https://github.com/phetsims/phetcommon/issues/28.

The branches/commits update the Hewlett Google Analytics property, and are used for maintenance releases.

Discuss with me before considering removal of the branches!

[2016-02-24 20:37] jonathanolson opened #32 "[branch] simplify-embedding-marks"
See https://github.com/phetsims/scenery/issues/520. Branched here, since I'm not sure yet if we'll want this patch in StringUtils long-term, or if we should work around it in Scenery itself.

Tagging for developer meeting to decide.

[2016-02-24 22:18] jonathanolson commented on #32
Closing, decided to keep in phetcommon for now.

[2016-02-27 07:46] #32 closed

[2016-03-29 22:23] jbphet commented on #27
Done, closing.

[2016-03-29 22:23] #27 closed

[2016-04-05 16:01] mattpen opened #33 "Google Analytics error on cross domain request"
[code]
I encountered this error when embedding a phet-io.colorado.edu sim and running the phet-io website on phet-io-dev.colorado.edu.  It appears we don't have access to top.location.href when the domain of an iframe does not match its parent.  We'll need to find an alternate method of detecting the parents location.

[2016-09-29 21:32] mattpen commented on #33
This error is no longer occurring.

[2016-09-29 21:32] #33 closed

[2016-10-27 06:55] jonathanolson opened #34 "[branch] yotta-tracking"
See https://github.com/phetsims/yotta/issues/30

[2017-02-20 15:05] samreid opened #35 "Should we include navigator.userAgent in the pingParams?"
I was surprised to see that navigator.userAgent wasn't shown in the pingParams.  Is there a good reason for this, or should we include it?

[2017-02-22 18:44] pixelzoom opened #36 "new approach to placeholders in translated strings"
We're currently using Java's MessageFormat syntax for filling in placeholders in translated strings (e.g. `"{0} for {1}?"`). We did this because it was easy to implement (see `StringUtils.format`) and made it easy to port Java code and strings.

In a Skype discussion about such strings, we identified a few issues with this approach:

1. It's difficult for translators to determine the semantics of

[2017-02-22 19:20] pixelzoom commented on #36
While we're at it... It sure would be nice if `stringTest=double` treated placeholders correctly.  Imo, it should ignore (preserve) the placeholders, and double the non-placeholder parts of the string.

E.g., for string `"{0} for {1}?"`
current behavior: `"{0} for {1}?:{0} for {1}?"`
desired behavior: `"{0} for:for {1}?:?"`

If the new implementation does validation of the values hash (verifies th

[2017-02-23 19:47] pixelzoom commented on #36
2/23/17 consensus:

• Like this approach
• Use going forward
• Don't deprecate `StringUtils.format`, but don't use it in new code
• Don't change any existing strings
• Validation will check that all placeholders have a corresponding key in value cache. Extra keys OK.
• Don't address stringTest at the same time as this, separate issue.

[2017-02-23 19:49] pixelzoom commented on #36
I'll do this, low priority. Check in with others about function name, but `StringUtils.fillIn` seemed to be acceptable to everyone at dev meeting.

[2017-03-02 18:12] jonathanolson opened #37 "Yotta messages should track brand directly."
Give SHA to build-an-atom (@samreid  and @jbphet) to cherry-pick.

Presumably this will increment the pingver.

[2017-03-02 18:19] jonathanolson commented on #37
Added and tested briefly above. Can you cherry-pick into a relevant phetcommon branch for build-an-atom's RC, build, and ensure that the request to immediate.gif has 'brand=phet-io'?

[2017-03-02 18:20] jonathanolson commented on #37
SHA is 49b5cb0d6befc50e516598e52f4c90cb1f8be963, so:
[code]

[2017-03-02 18:25] jonathanolson commented on #37
Will handle on server-side in my working copy changes. My comment `// Only one protocol version is currently supported` will never see the light of day!

[2017-03-02 18:26] jonathanolson commented on #37
Code to back-fill the brand server-side:
[code]

[2017-03-09 18:04] pixelzoom opened #38 "factor out WebGL context loss code"

[2017-03-09 18:11] pixelzoom commented on #38
This is also related to https://github.com/phetsims/joist/issues/411.  The usage of `phet.joist.sim.version` should be replaced with whatever abstraction is provided for the version identifier.

[2017-03-22 23:27] jbphet commented on #37
This SHA was incorporated into the Build an Atom 1.4 branch, and should now be live on the published version v1.4.0, see https://github.com/phetsims/build-an-atom/commit/6c084a756f8ee992e2b7b6addb049e7a3e532f6b.  @jonathanolson - can you verify that this is working as expected?

[2017-04-07 19:27] pixelzoom commented on #36
Note to self: Will need to address embedding marks (eg LTR, RTL) as was done for `StringUtils.format`. Hopefully I can look at `StringUtils.format` for guidance.

[2017-04-11 22:17] pixelzoom commented on #36
Skype discussion:

[4/11/17, 4:12:35 PM] Chris Malley: Does anyone have regex (or other) chops for pulling all of the placeholders out of a template? For example:  "{{name}} is {{age}} years old" -> [ "name", "age" ]
[4/11/17, 4:13:25 PM] Jonathan Olson: checking
[4/11/17, 4:14:23 PM] Jonathan Olson: '{{name}} is {{age}} years old'.match( /\{\{[^\{\}]+\}\}/g )
[4/11/17, 4:14:27 PM] Jonathan Olson:

[2017-04-12 18:42] pixelzoom opened #39 "phetcommon units tests broken by PhET-iO"
Discovered while adding unit tests for https://github.com/phetsims/phetcommon/issues/36.

Running http://localhost/~cmalley/GitHub/phetcommon/tests/qunit/, I get:

http://requirejs.org/docs/errors.html#scripterror
    at makeError (require-2.1.11.js:166)
    at HTMLScriptElement.onScriptError (

http://requirejs.org/docs/errors.html#scripterror
    at makeError (require-2.1.11.js:166)
    at HTMLS

[2017-04-12 18:43] pixelzoom commented on #39
Looks like TANDEM needs to be defined in config.js.

[2017-04-12 18:52] pixelzoom commented on #39
Looks like `text` and `phetio` plugins are missing from config.js.

[2017-04-12 18:56] pixelzoom commented on #39
... and TANDEM needs to be defined in config.js.

[2017-04-12 19:00] pixelzoom commented on #39
... and REPOSITORY needs to be defined in config.js.

[2017-04-12 19:03] pixelzoom commented on #39
config.js fixed in above commit.

Assigning this to @jbphet to review, since he broke things when instrumenting Build An Atom in https://github.com/phetsims/phetcommon/commit/d128c5fb2ffcdafe82bb8b26096cff3790ddf872.

[2017-04-12 19:23] pixelzoom commented on #36
This feature is now implemented, along with unit tests in phetcommon/tests/qunit/.

@jonathanolson would you mind reviewing, since you've done quite a bit of work in StringUtils in the past?

[2017-04-12 19:28] pixelzoom commented on #39
Labeling for developer meeting, to notify developers that `StringUtils.fillIn` is ready (pending review), and should be used going forward instead of `StringUtils.format`.

[2017-04-12 19:41] jbphet commented on #39
The fix looks reasonable to me.  Two questions:

1. Why does the addition of phet-io support in https://github.com/phetsims/phetcommon/commit/d128c5fb2ffcdafe82bb8b26096cff3790ddf872 cause a need for REPOSITORY to be defined in config.js?
2. Why does that same commit cause a need for the text plugin?

[2017-04-12 19:44] pixelzoom commented on #39
No idea. I'm not familiar with how the unit tests are put together.

[2017-04-12 20:04] pixelzoom commented on #36
Labeling for developer meeting, to notify developers that `StringUtils.fillIn` is ready (pending review), and should be used going forward instead of `StringUtils.format`.

[2017-04-12 20:04] jonathanolson commented on #36
Looks good. Made a few minor tweaks in commit above, feel free to review.

I'll add in phetcommon unit tests into continuous testing.

[2017-04-12 20:08] pixelzoom commented on #36
Labeling for developer meeting, to notify developers that StringUtils.fillIn is ready (pending review), and should be used going forward instead of StringUtils.format.

[2017-04-13 03:16] samreid commented on #36
My forthcoming thumbs-up indicates I understand to use `fillIn` for future code.

[2017-04-13 16:01] jonathanolson commented on #36
Already replaced the one format usage in Proportion Playground.

[2017-04-13 18:46] pixelzoom commented on #36
Reviewed at developer meeting. Closing.

[2017-04-13 18:46] #36 closed

[2017-04-13 20:11] samreid commented on #37
It sounds like @jbphet and @jonathanolson are on the case, I'll unassign myself.

[2017-04-14 01:46] jonathanolson commented on #37
Build an Atom production is 1.2 (although there is a 1.4-phetio branch), and for some reason this doesn't seem to be live on the latest version of Build an Atom. Investigating.

[2017-04-14 02:00] jonathanolson commented on #37
I'm also very confused. https://phet-io.colorado.edu/sims/beers-law-lab/1.4.0-phetio/beers-law-lab_en-phetio.html (the only 1.4 version I could find on the phet-io website) doesn't event send Yotta messages, much less include the brand with them.

[2017-04-14 02:04] jonathanolson commented on #37
Found the right link in phet-io, confirmed that it is sending the brand.

[2017-04-16 17:37] #37 closed

[2017-04-28 17:56] jessegreenberg opened #40 "StringUtils.fillIn throws assertion when value is 0"
[code]

This will assert out when ```values[ key ]``` is 0.

[2017-04-28 18:01] jessegreenberg commented on #40
@pixelzoom can you please review?

[2017-04-28 18:44] pixelzoom commented on #40
I'm not clear on what's going on here. The keys to `fillIn` are supposed to be strings. Why do we need to support 0 (a number)? And if 0, why not other numbers?

[2017-04-28 18:45] pixelzoom commented on #40
If `var key` is indeed being coerced to a number, then the correct fix to this is ensure that it remains a string.  I.e.:

[code]

[2017-04-28 18:47] pixelzoom commented on #40
Or better yet, ensure that key does not represent a number.  We should not be using numbers placeholders, e.g. `{{0}}`.

[2017-04-28 18:52] jessegreenberg commented on #40
Keys should be strings, but the assertion didn't like the falsy 0 value. The documentation has this example:

[code]

Without something like https://github.com/phetsims/phetcommon/commit/4576be484111b74bc4ddbe313844e9a4952f1440, ```fillIn``` will throw an assertion for
[code]

[2017-04-28 18:55] pixelzoom commented on #40
Ah, I see..    The correct assertion is then:

[code]

[2017-04-28 18:57] pixelzoom commented on #40
I also fixed the assertion message:

[code]

This now supports all falsy values except `undefined`.

[2017-04-28 19:02] jessegreenberg commented on #40
Works great, thanks!

[2017-04-28 19:02] #40 closed

[2017-08-29 21:37] pixelzoom commented on #39
Unit tests are still working and no one has answered the questions in https://github.com/phetsims/phetcommon/issues/39#issuecomment-293685855 in 4+ months. So closing.

[2017-08-29 21:37] #39 closed

[2017-08-29 21:38] pixelzoom commented on #30
toCamelCase has now been copied to yet-another repo, phet-io-wrappers.

[2017-08-29 21:41] pixelzoom commented on #31
@jonathanolson I see no hewlett-* branches in phetcommon.  Presumably they have been deleted.  OK to close this issue?

[2017-08-29 22:27] jonathanolson commented on #31
Looks like it, thanks!

[2017-08-29 22:27] #31 closed

[2018-03-19 18:53] pixelzoom opened #41 "Fraction: add methods needed by equality-explorer"
`Fraction` currently lacks many things needed by equality-explorer, including operators.   I've been adding methods to sim-specific subtype `ReducedFraction`, but they should be migrated to `Fraction`.

After a Slack developer discussion, here's what I'm going to add. The operator names match the convention used in DOT.

[code]

[2018-03-19 20:15] pixelzoom commented on #41
Questions:

- [ ] Fraction currently has `reduce`, which mutates the Fraction.  We should have `reduced` (return a new instance) and `isReduced` (return boolean).  How to factor out code that is common to these 3 functions?

- [ ] Should operations (plus/minus/times/divided) automatically call `reduce`?  Using general algorithms, `2/3 - 1/3 = 3/9` and `2/3 + 1/3 = 9/9`, which seems a little odd.

[2018-03-19 20:47] pixelzoom commented on #41
Here's how the code common to the 3 "reduce" methods is currently factored out:

[code]

This creates an object literal, which may not be desirable.

@jonathanolson I'd be interested in your input on this and the other questions in https://github.com/phetsims/phetcommon/issues/41#issuecomment-374357094.

[2018-03-20 17:02] pixelzoom commented on #41
Re reduce methods, @jonathanolson suggested on Slack:

I've always just implemented in reduce(). Then for reduced(), do `this.copy().reduce()`. For isReduced(), just check if the gcd is 1.

Implemented in the above commit

[2018-03-20 20:09] pixelzoom commented on #41
Whether to automatically reduce the result of operations, the consensus in Slack developer chat was "no".  But the denominator of the result should be the LCM (Least Common Multiple) of the operand denominators.  Implemented this for `plus` and `minus` in the above commits.  Unsure whether this applies to `times` and `divided`.

[2018-03-20 20:23] pixelzoom commented on #41
lcm does not apply to `times` and `divided`.

For `times` and `divided`:

[code]

[2018-03-20 20:39] pixelzoom commented on #41
I've added everything needed for equality-explorer (and then some), implemented the consensus for how operations should behave, and created unit tests.

Assigned to @jonathanolson to review, since he'll be using this immediately in the suite of fractions sim.

[2018-03-20 21:04] pixelzoom commented on #41
Slack discussion with @jonathanolson.  There is a apparently a problem with `Util.gcd` that will cause `isReduced` to fail for (e.g.) -1/2 and -1/-2.  I committed in revised unit tests, with the failing tests commented out.

[2018-03-20 22:07] pixelzoom commented on #41
@jonathanolson changed `Util.gcd` and `Util.lcm` to both return positive values. All unit tests are now passing.

@jonathanolson also suggested renaming `Fraction.withInteger` to `fromInteger`, which I've done in the above commit.  Said everything else looked good.

Closing.

[2018-03-20 22:07] #41 closed

[2018-04-05 03:06] pixelzoom opened #42 "Fraction: add 'isGreaterThan'"
@jonathanolson added `isLessThan` in https://github.com/phetsims/phetcommon/commit/64e7c872674dd861b8cf8f59a475a02958a8b945.  Why wasn't `isGreaterThan` added at the same time?  It would have been way less expensive to add it (and its unit tests) at the same time.  If you needed `isLessThan`, then surely someone is going to need `isGreaterThan` sometime.

Sorry to pick on @jonathanolson here, beca

[2018-04-05 03:12] pixelzoom opened #43 "Fraction: implementation of isLessThan seems unnecessarily complicated"
@jonathanolson added this to `Fraction`:

[code]

Why can't the above be replaced with this?

[code]

[2018-04-05 10:59] jonathanolson commented on #42
I was thinking of it mathematically, where that one function is the main building block. I typically orient comparisons as less-thans, and felt no need to have a greater-than personally. We've run into many cases where people have preferred simpler core types to having more helper methods (e.g. `Property.onValue`, `Property.once`, DerivedProperty convenience functions, so I've lately tried to avoi

[2018-04-05 11:04] jonathanolson commented on #43
I guess I was thinking in a "rational arithmetic" mindset, where usually types like Fraction don't use intermediate floating point comparisons for operations due to loss of precision. Since we are basically guaranteed that JS's numbers work as integers up to Number.MAX_SAFE_INTEGER, I figured that we don't have to worry at all about floating point issues for numerators/denominators up to the squar

[2018-04-05 11:07] jonathanolson commented on #43
If you verify it will be exact for that general range of input values, feel free to make the change.

[2018-04-05 13:32] pixelzoom commented on #43
Since `getValue` uses division, I can't "verify it will be exact for that general range of input values" without adding additional functions.  So I'm going to do nothing and close.

[2018-04-05 13:32] #43 closed

[2018-04-05 14:07] pixelzoom commented on #42
I'm going to close this.  Guess I'm still just upset about the amount of work I had to do to add basic stuff to Fraction that should have been ported in the first place.  And grousing about it is unlikely to change behavior, more likely to get people upset with me.

Personally, I don't want to see a proliferation of convenience methods.  If you feel otherwise, open a new issue to discuss.

Closing

[2018-04-05 14:07] #42 closed

[2018-04-20 21:08] pixelzoom opened #44 "Fraction: change isInteger to avoid precious issues"
Noted in https://github.com/phetsims/equality-explorer/issues/70.

Fraction `isInteger` currently uses `getValue`, which uses division and therefore may have precious issues:

[code]

Proposed change to `isInteger` is:

[code]

Add unit tests for all combinations of positive and negative numerators and denominators, zero numerator, and zero denominator.

[2018-04-20 21:25] pixelzoom commented on #44
Change completed, unit tests added and passing.

@jonathanolson would you mind taking a quick peek, since you and I discussed this on Slack?

[2018-04-20 22:34] pixelzoom opened #45 "Fraction: verify that numerator and denominator are integers"
There are a number of places in Fraction where `this.numerator` and `this.denominator` are set without verifying that they are integer values.  And I'm hitting such a condition in https://github.com/phetsims/equality-explorer/issues/71.

So I'm going to make a couple of changes:

(1) `{public}` `this.numerator` and `this.denominator` will become `{private}` `this._numerator` and `this._denominator

[2018-04-20 22:47] pixelzoom commented on #45
ES5 set/get pattern implemented in above commit.

@ariel-phet please assign someone to review.

[2018-04-24 02:01] jonathanolson commented on #44
Looks good to me.

[2018-04-24 02:01] #44 closed

[2018-04-24 17:43] Denz1994 commented on #45
The changes look good. The unit tests also seem comprehensive enough for testing. Closing this issue.

[2018-04-24 17:43] #45 closed

[2018-06-05 18:04] jonathanolson opened #46 "Supporting external Google Analytics tracking"
It's come up where a 3rd party wants to provide a link to a sim, but get Google Analytics data out of it. @kathy-phet requested a feature where a query parameter can be provided to give a custom GA property that we can send data to.

I'll plan on implementing this as `?ga=UA-EXAMPLE` for phet/phet-io brands.

[2018-06-05 18:10] jonathanolson commented on #46
@kathy-phet, do we have a tracker that we can test this with?

[2018-06-12 22:51] kathy-phet commented on #46
I looked on GA and for the PhET Interactive Simulations Dev account there is this tracker number:
UA-36363897-1

Does that look like what you need?
I don't see any reason we cannot test this query parameter with that tracker.

[2018-06-14 20:42] jonathanolson commented on #46
Tested and verified things are working nicely. Closing.

[2018-08-10 02:42] jonathanolson commented on #46
Reopening so I can track for the maintenance release.

[2018-08-11 00:37] jonathanolson commented on #46
Also @kathy-phet so you're aware, the google analytics patches were integrated into the release branches and RCs are ready.

[2018-08-15 20:50] jonathanolson commented on #46
@kathy-phet maintenance releases are complete on this (and Molarity/RPAL's recent versions include it also). Feel free to tell people about the `?ga` and ?gaPage` query parameters.

[2018-08-15 20:50] #46 closed

[2018-08-15 23:49] kathy-phet commented on #46
Thanks, Jonathan!

[2018-12-29 23:18] pixelzoom commented on #30
As of 12/29/18, we're now up to 6 copies of `toCamelCase`, 3 of which are related to PhET-iO:

chipper/eslint/rules/string-require-statement-match.js
perennial/grunt/createSim.js
phetcore/js/toCamelCase.js
phet-io-wrapper-sonification/lib/WrapperUtils.js
phet-io-wrappers/common/js/Client.js
tandem/js/Tandem.js

Assigning to @ariel-phet to prioritize and assign.

[2018-12-31 01:44] samreid commented on #30
I've also noticed that the implementations are not all the same.

[2019-01-24 05:13] ariel-phet commented on #30
Seems like a good iO meeting discussion (and how big of task is it to reduce these to one)

[2019-05-04 01:16] pixelzoom commented on #30
This came up again in https://github.com/phetsims/phet-io-wrappers/issues/218, review of PhET-iO API.

[2019-06-24 23:19] jonathanolson opened #47 "branch: connectionTest"
Temporary work to support https://github.com/phetsims/phet-ios-app/issues/484

[2019-08-24 03:46] samreid opened #48 "Can StringUtils.endsWith be implemented with _.endsWith()?"
From Slack:

@zepumph said:

@chrisklus said:

@zepumph said:

@chrisklus said:

@samreid said:
Great idea!  What about taking that idea one step further and deleting StringUtils.endsWith and recommending clients use _.endsWith instead?

[2019-08-29 04:24] pixelzoom commented on #48
I will defer to @samreid, since it looks like he created `StringUtils.endsWith` on 7/13/16.  Looks like there are only 5 usages, all in StringUtilsTest, so not in any production code.

[2019-08-29 04:27] samreid commented on #48
Great!  Let's remove `StringUtils.endsWith` and advocate for client code to use `_.endsWith` instead.

[2019-08-29 12:42] samreid commented on #48
The diff wrapper, interaction dashboard preprocessor, studio and dataStreamTests are using string.endsWith and hence will not work on IE11.  It looks like all of these places can use lodash, so I'll look into that.

[2019-08-29 12:47] samreid commented on #48
It looks like preprocessor does not yet use lodash.

[2019-08-29 12:51] samreid commented on #48
OK I replaced suitable cases with _.endsWith and will leave this issue open for dev meeting as a public service announcement to remind others that `_.endsWith` is forbidden for IE.  I added a code review checklist item for it.

[2019-08-29 19:22] Denz1994 commented on #48
From dev meeting: 08/29/19

@samreid has alerted us of this recent change described in the previous comments. Closing this issue.

[2019-08-29 19:22] #48 closed

[2019-11-06 21:00] chrisklus commented on #30
https://github.com/phetsims/phet-core/issues/72 is assigned to me to eliminate these duplications. Closing

[2019-11-06 21:00] #30 closed

[2019-12-10 22:25] samreid opened #49 "Should we track other conditions in google analytics?"
From this TODO, added by @jonathanolson in 33ce29f6ab8d75339749a1b4806a38246906fdb6 for https://github.com/phetsims/yotta/issues/30

[code]

We are currently distinguishing between iOS app, android app, and embedded launches.  Should we add other categories here?  Assigning to @jonathanolson for initial comment.

[2019-12-12 16:47] jonathanolson commented on #49
Presumably we can change it to track whatever else we want, but I can't think of anything particularly important here. @kathy-phet, for html5 sims, do we want to track any other way people load sims? (Otherwise I think the TODO can be removed)

[2020-06-10 14:34] samreid opened #50 "Alignment-based argument checking"
During https://github.com/phetsims/natural-selection/issues/96 I asked whether it was possible to have argument checking mirror the declaration of the arguments.  For instance, the existing pattern checks each argument individually:

[code]

And I was wondering if we could benefit from a pattern where the type checking matches the argument declarations, like:
[code]

Note how the types are aligned

[2020-09-03 15:29] jessegreenberg opened #51 "Chrome warning running builds locally related to cookies"
I am seeing this warning when running builds locally

![image](https://user-images.githubusercontent.com/6396244/92135037-42f08800-edd8-11ea-956d-c611da41a630.png)

I am not seeing it in published sims or sims from phet-dev. Over slack @jonathanolson mentioned it is expected but perhaps the warning could be hidden so an issue should be made in phetcommon. Assigning to him.

[2020-09-14 22:13] pixelzoom opened #52 "SphereBucket fails code review"
Noted while converting to ES6 for https://github.com/phetsims/tasks/issues/1044.

SphereBucket fails PhET code review.  Many methods are missing documentation and `@param` annotations. Since this is common code, it should be documented.

[2020-09-25 20:55] jbphet commented on #52
I've added method headers, visibility annotations where they were needed, cleaned up some of the other documentation, and converted several functions to ES6 style.  @pixelzoom - care to have a look?

[2020-09-25 22:58] pixelzoom commented on #52
👍🏻 closing

[2020-09-25 22:58] #52 closed

[2020-11-26 02:17] zepumph opened #53 "Add Fraction.fromDecimal"
My thought is a function that given a decimal, it returns a Fraction. This will greatly help me over in https://github.com/phetsims/ratio-and-proportion/issues/249.

[2020-11-26 02:30] zepumph commented on #53
@pixelzoom will you please review this addition since you have many commits in Fraction.js. Also take a look at the unit tests, and limitations about irrational numbers (though not surprising. What do you think about this convenience function.

Also, would you want to use it in https://github.com/phetsims/graphing-lines/blob/585fa2983366a813d465d9ae257c5afaaea51156/js/common/model/Line.js#L161-L17

[2020-12-01 17:39] pixelzoom commented on #53
While experimenting with `fromDecimal` to understand how it works, I discovered that Fractions.js is missing `phetcommon.register`.  Added in the above commit.

[2020-12-01 18:12] pixelzoom commented on #53
`fromDecimal` seems to work, but....

* Needs more comments.  It's not obvious how it works, due to the next points.
* There are multiple `return` statements.  They're tolerable in simple/obvious algorithms.  But otherwise they make algorithms more difficult to understand/maintain, especially when the `else` clause of an `if` statement is omitted, as in this case.
* The case when `number` is an in

[2020-12-04 20:03] zepumph commented on #53
Yes, that is tremendously better. Thank you so much. I reviewed and committed. I found that it worked well in my use case in RaP too. Closing

[2020-12-04 20:03] #53 closed

[2021-05-31 23:56] samreid opened #54 "Can SphereBucketIO.toStateObject use ReferenceIO?"
SphereBucketIO currently looks like so:

[code]

Can SphereBucketIO.toStateObject use ReferenceIO?

[2021-06-15 20:13] samreid commented on #50
Let's solve this with Typescript in https://github.com/phetsims/chipper/issues/1050, closing.

[2021-06-15 20:13] #50 closed

[2021-07-01 22:43] zepumph commented on #54
How about that?

[2021-07-10 21:02] samreid commented on #54
It looks reasonable and consistent with what I did for https://github.com/phetsims/circuit-construction-kit-common/issues/708.  I'll factor out the IO type in an upcoming commit.

[2021-07-10 21:03] samreid commented on #54
I factored out the IO type so it isn't created over and over.  I wasn't sure how to test this, but it seems reasonable enough to close.

[2021-07-10 21:03] #54 closed

[2022-04-13 01:08] pixelzoom opened #55 "Bucket and SphereBucket have dependencies on scenery and shred."
I got pretty far along with converting Bucket and SphereBucket to TypeScript.  Then I ran into 2 dependency problems:

(1) They depend on scenery, either `IColor` or `IPaint` depending on how you choose to define options `baseColor` and `captionColor`.

(2) SphereBucket depends on shred for `Particle`.

Neither of those dependencies is currently supported by tsconfig files.  And I'm afraid that th

[2022-08-25 21:44] samreid opened #56 "StringUtils.fillIn needs a DerivedProperty implementation"
From https://github.com/phetsims/axon/issues/408, we would like to add a new StringUtils.fillIn - style method that takes LocalizedStringProperty instances and returns an instrumented DerivedProperty.

Still needs to be compatible with everything in description.

New name for the new method, and mark `fillIn` as deprecated.

Maybe `fillInDynamic` or `dynamicFillIn`?

@pixelzoom suggests `createDer

[2022-08-26 18:59] kathy-phet opened #57 "Design and maintenance release all HTML sims with new GA4 code"
We need to eagerly add the GA4 code needed to upgrade to the new google analytics.

[2022-08-26 19:02] kathy-phet commented on #57
@jonathanolson - Can you paste the GA code here with the fields and info we currently push to GA? We can think about what to do for this next iteration.

[2022-08-27 19:45] kathy-phet commented on #57
JO says this ... https://github.com/phetsims/phetcommon/blob/6c6d4186db1d5b0fa99a73c3f522499873bdafb0/js/analytics/google-analytics.js#L141 - main tracker ID in our codebase

[2022-08-29 21:03] jonathanolson opened #58 "Add PatternStringProperty"
Also, PSA for its existence at developer meeting, and to decide on a code review

[2022-09-01 21:45] oliver-phet opened #59 "Test Google Tag Manager"
@mattpen @jonathanolson here is the code to install Tag Manager (currently, it only fires our GA4 base tag on every page)

Install Google Tag Manager
Copy the code below and paste it onto every page of your website.
Paste this code as high in the <head> of the page as possible:
[code]
Additionally, paste this code immediately after the opening <body> tag:
[code]
For more information about installi

[2022-09-01 22:19] pixelzoom commented on #58
Review:

* In the above commits, I used PatternStringProperty in molecule-polarity. It's working nicely, and `grunt generate-phet-io-api` did not result in any API changes.
* The API is very nice.
* The implementation is complicated, some ninja TypeScript here. I'd hate to have to debug it.
* PatternStringProperty lives in phetcommon/js/util/, which makes it dependent on axon. Is that OK?
* II wou

[2022-09-01 22:22] pixelzoom commented on #58
One more thing... If deriving a string requires any logic, then PatternStringProperty is not a good fit.

For example, in OpticalObjectLabelNode.ts:

[code]

This is an example of what `StringUtils.fillIn` should not be deprecated.

[2022-09-01 22:29] pixelzoom commented on #58
In the above commit, I also used PatternStringProperty in natural-selection.  It's now used wherever appropriate my sims that support dynamic locale.

[2022-09-02 18:09] jonathanolson commented on #58
@samreid do you know the status of TypeScript and inter-repo circular dependencies?

Usually, dot relies on axon (Vector2Property, emitters in Transform3, etc.). However NumberProperty relies on Range (axon relying on dot).

Since Utils.toFixed and Range are never going to rely on axon things, we SHOULD be file-level-safe with intermingled dependencies if axon uses those.

So... will it be bad if

[2022-09-02 18:10] jonathanolson commented on #58
Agreed. To me, it seemed beneficial to be able to give clients additional type safety in exchange for some more complicated common code.

Yes, that's a good example, and not planning on deprecating fillIn.

[2022-09-02 18:19] samreid commented on #58
I believe these are fine as long as they are in type space and not value space. (Did not work with project references but does work with our new monolithic tsconfig).

What do you want to move in particular?  Does my prior answer also help answer this question too?

[2022-09-02 19:25] jonathanolson commented on #58
Moved it to axon above. @pixelzoom anything else to do here?

[2022-09-02 19:25] jonathanolson commented on #24
Note: maintenance releases to statistics will be trickier after a move of google-analytics.js

[2022-09-02 19:31] pixelzoom commented on #58
👍🏻 closing

[2022-09-02 19:31] #58 closed

[2022-09-03 15:51] pixelzoom commented on #58
There was a typo in axon's main.js that was causing a CT error. Fixed in the above commit.

[2022-09-03 17:28] jonathanolson commented on #58
Apologies!

[2022-09-06 15:52] mattpen commented on #59
@oliver-phet - I've put the code snippets in place on ox-dev, but I'm not sure how to check that out on the analytics side.

[2022-09-07 15:19] mattpen commented on #59
I'm not seeing a lot of indication that GTM is any better for our usage than the Global site tag (gtag.js), as we are only using the one tracker.  I also don't think it gives us any capability to track behaviors in Google Analytics without defining Events.

Articles I reviewed:
https://support.google.com/tagmanager/answer/7582054?hl=en
https://measureschool.com/google-tag-manager-vs-global-site-ta

[2022-09-09 13:56] oliver-phet commented on #59
I'll need to do a bit more reading, on the capabilities of GTM regarding code-less event tracking. I definitely got the impression that was possible from the LinkedIn learning intro course, but perhaps it just allows _changes_ to the ways existing custom events are tracked without editing the source code.

One potential benefit of using GTM that I see: we could activate both the GA4 tag and UA tag

[2022-09-09 15:08] mattpen commented on #59
Yep, I think that would work.

In the Google Tag Manager admin tool, then only thing I saw was the same events we get automatically with gtag.  It doesn't look highly customizable, just more automatic than before.

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/11747676/189382597-f22fddcc-3d39-492a-a7a0-d373167a22f6.png">

[2022-09-09 20:25] oliver-phet commented on #59
[Here's a quick example](https://www.optimizesmart.com/event-tracking-in-google-tag-manager-v2-complete-guide/#0-how-to-track-google-analytics-events-via-google-tag-manager-) I just found for tracking Download button clicks via a custom event entirely within GTM. This (along with others I've found) seem to be written for UA environments and aren't as relevant now that GA4 collects this type of inf

[2022-09-14 19:24] oliver-phet opened #60 "(Sims) Internal GTM and external GTAG/GA4 tracking via query parameters"
In a meeting with @mattpen we discussed that the current "external" Google analytics code that allows external partners to insert their own tracking code via a query parameter will either need to be abandoned or updated to support Google Tag Manager (GTAG) and/or Google Analytics 4 (GA4).

We did a quick search on page views with UA query parameters and there were over 10,000 page views over the l

[2022-09-14 19:31] oliver-phet commented on #60
@mattpen mentioned it may be good to query macmillan and discovery education to find out if they are currently/planning to use GTAG or GA4.

[2022-09-16 22:39] oliver-phet commented on #60
KP confirmed, YES we will continue supporting external GTAG/GA4 tracking via query parameter.

[2022-09-20 02:01] jonathanolson commented on #56
PatternStringProperty was added. @samreid can this be closed?

[2022-09-27 02:43] samreid commented on #56
Yes, thanks.  Closing.

[2022-09-27 02:43] #56 closed

[2022-10-10 23:04] oliver-phet commented on #59
Adding some info to this issue:
We've done a text integration of Google Tag Manager (GTM) in both the website and sims. This GTM snippet allows us to fire various tags using various criteria defined via the tag manager. This appears to be working well - the tags are firing when expected and we can see hits to both our GA4 and UA properties.

One issue I'm running into: It has been difficult to ver

[2022-10-12 16:10] mattpen commented on #59
It looks like Step 3 for the Data Layer Variable step was missing, which is where it lines the data layer variables up to the custom dimension index.

I added these to the PhET-UA Google Settings Variable:
<img width="752" alt="image" src="https://user-images.githubusercontent.com/11747676/195393579-c4efb43d-cb5f-489d-b4c4-e92a2ef5ace9.png">

I saved these changes but did not deploy them so you ca

[2022-10-13 17:05] oliver-phet commented on #59
I wouldn't think that would matter since the PhET UA tag has the custom dimensions added directly:
![image](https://user-images.githubusercontent.com/5090275/195660182-86e73cb1-a86c-4a22-a5a5-1a0564df7c92.png)

I suppose I could remove the custom dimensions on the Tag and keep them in the Variable, maybe it will work differently?

Yes, I verified this separately with JO. Same thing just called Env

[2022-10-14 20:25] oliver-phet commented on #59
@mattpen I tried the approach you suggested (adding the custom dimensions to the UA variables), but I'm still not getting the dimensions in Analytics.
The pageview hits are coming through, just no custom dimensions :(

Should we meet again to sanity check there isn't something else I missed?

[2022-10-15 00:32] mattpen commented on #59
Sure, happy to meet next week. Let's connect on slack

[2022-10-18 17:56] oliver-phet commented on #60
We did a bit of digging at it appears MacMillan Learning and Discovery Education.

[2022-10-19 16:38] oliver-phet commented on #60
@jonathanolson I checked with KP on this need and we decided we need to support partners setting _both_ a UA and GA4 via 2 query parameters. We don't plan to support external Tag Manager tracking at this time.

[2022-11-10 01:50] jonathanolson commented on #60
Current JS patch:

<details>

[code]

</details>

[2022-11-11 16:00] mattpen commented on #60
We could rename the window.dataLayer for each instance.  Guide to renaming window.datalayer here: https://developers.google.com/tag-platform/tag-manager/web/datalayer#rename_the_data_layer.  So we could have something like `window.phetDataLayer` for our GTM instance, `window.gaDataLayer` for the `?ga=` instance, and `window.ga4DataLayer` for the `?ga4=` instance.  @jonathanolson - would that work

[2022-11-11 23:36] oliver-phet commented on #60
I could test by inserting both a test UA and GA4 property ID (I've already created a UA test property). If you think that could work, could publish a test sim that includes the patch?

[2022-11-11 23:51] kathy-phet commented on #60
Hey all, Just to chime in here re timing on this, I've asked @jonathanolson to proceed with the maintenance release of the ?allowlinks functionality and not keep it tied to this work. Getting the GA4 tag stuff worked out is on the list, but its a bigger project and the other maintenance release needs to get out.

JO has a couple of other short-term priorities that need focusing, so it will be a co